body{
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    border: 1px solid black;
    background-color: #f1f1f1;
}

.thebtns{
    position: absolute;
    top: 290px;
}
button{
    margin: 5px;
    border: 1px solid black;
    background-color: snow;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    &:hover{
        box-shadow: 1px 1px 4px grey;
    }
    &:focus {
        outline: 0;
    }

}
